<div class="header-back-box"></div>
  <main class="main-box">
    <div class="portfolio-main">
        <a href="https://office-anywhere.herokuapp.com/" target="_blank">
            <img src="images/office-any-where.png" alt="office any where" />
            <h3>Office any where</h3>
        </a>
    </div>
    <div class="portfolio-main">
        <a href="https://galvanize-read.herokuapp.com" target="_blank">
            <img src="images/galvanize-read.png" alt="Galvanize Reads" />
            <h3>Galvanize Reads</h3>
        </a>
    </div>
    <div class="portfolio-main">
        <a href="http://navidfallah.com/q1" target="_blank">
            <img src="images/navidq1.png" alt="world bank Q1" />
            <h3>World Bank Q1</h3>
        </a>
    </div>
      <div class="portfolio-main">
          <a href="http://navidfallah.com/mitchellpaintingco/" target="_blank">
              <img src="images/Mitchellpaint.jpg" alt="mitchell painint website" />
              <h3>Mitchell Painting</h3>
          </a>
      </div>
      <div class="portfolio-main">
          <a href="http://navidfallah.com/week3/week3inclass1/" target="_blank"> <img src="images/foodplace.jpg" alt="foodplace website" />
              <h3>Foodplace</h3>
          </a>
      </div>
      <div class="portfolio-main">
          <a href="http://navidfallah.com/week2/week2inclass2/index.html" target="_blank">
              <img src="images/schnoodle.jpg" alt="schnoodle website" />
              <h3>Schnoodle</h3>
          </a>
      </div>
  </main>
